
.s-image{
  padding: 5px;
  width: 500px;
  margin-right: 15px;
}

.title{
  font-size: 50px;
}

.discription{
  font-size: 40px;
  line-height: 45px;
}

.d-info{
  font-size: 20px;
  line-height: 30px;
}

.background{
  background-color: #D4D1CA;
}
.carousel-inner{
  background-color: #D4D1CA;
}
